.menu {
    position: fixed;
    z-index: 5;
    width:100%;
}
.menu-button-container{
    border: 1px solid #333;
    border-radius:3px;
    background-color:rgba(128,128,128,0.5);
    display:inline-block;
    margin-top:1vh;
    margin-left:1vh;
    cursor: pointer;
}
.menu-button-container:hover{
    background-color:rgba(164,164,164,0.5);
}

.menu-bar{
    background-color:#333;
    border-radius: 2px;
    width:20px;
    height:4px;
    margin:3px 4px;
    transition:0.4s;
}

.active .bar1{
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.active .bar2{
    opacity:0;
}

.active .bar3{
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);

}

.menu-items-container{
    width:100%;
    margin: -200px 0 0 0;
    transition: margin 500ms;
}
.menu-items-container.active{
    margin:-40px 0 0 0;
}
.menu-items-container>ul {
    display:flex;
    flex-direction:column;
    list-style: none;
    background-color:rgb(240,240,240);
    width:100%;
}

.menu-items-container>ul>li {
    text-align: center;
}
.menu-items-container>ul>li:first-child{
    padding-top: 15px;
}
.menu-items-container>ul>li:last-child>a:not([href]):not([tabindex]){
    border-bottom:0;
}

.menu-items-container a:not([href]):not([tabindex]){
    color:rgb(50,50,50);
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(50,50,50);
    min-width:40%;
    display:inline-block;
    padding:5px;
}

.menu-items-container a:hover:not([href]):not([tabindex]),
.menu-items-container a.active:not([href]):not([tabindex]){
    color:rgb(50,50,50);
    font-weight: 600;
}

