.menu {
    position: fixed;
    width:100%;
}
.menu-button-container{
    border: 1px solid #333;
    border-radius:3px;
    background-color:rgba(128,128,128,0.5);
    display:inline-block;
    margin-top:1vh;
    margin-left:1vh;
    cursor: pointer;
}
.menu-button-container:hover{
    background-color:rgba(64,64,64,0.5);
}

.menu-bar{
    background-color:#333;
    border-radius: 2px;
    width:20px;
    height:4px;
    margin:3px 4px;
    transition:0.4s;
}

.active .bar1{
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.active .bar2{
    opacity:0;
}

.active .bar3{
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);

}

.menu-items-container{
    width:100%;
    margin: -200px 0 0 0;
    transition: margin 500ms;
}
.menu-items-container.active{
    margin:-40px 0 0 0;
}
.menu-items-container>ul {
    display:flex;
    flex-direction:column;
    list-style: none;
    background-color:#333;
    width:100%;
}

.menu-items-container>ul>li {
    text-align: center;
    padding: 5px 0;
}
.menu-items-container>ul>li:first-child{
    padding-top: 15px;
}
.menu-items-container>ul>li:last-child{
    padding-bottom: 10px;
}
.menu-items-container>ul>li>a{
    color:white;
    text-decoration: none;
}
