.welcome-container {
    height: 100vh;
    width:100%;
    background: #eee url(./welcome-image.jpg) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.welcome-message, .welcome-name, .welcome-title {
    text-align:right;
    margin-right:auto;
    margin-left:auto;
    color:white;
}

.welcome-message {
    font-style: italic;
}
.welcome-name {
    font-size:2.5em;
}

.welcome-title {
    border:1px solid white;
    border-left:0;
    border-right:0;
    padding:0 5%;
    font-size:1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.main-container {
    display:flex;
    flex-direction:column;
    margin-left:10%;
    margin-right:10%;
}
.section {
    padding-top:50px;
}